#tituloServicos{
    font-size: 36px;
    color: var(--cor-rosa);
    width: 200px;
    text-align: center;
}

h3 {
    color: var(--cor-rosa);
    font-size: 12px;
    text-align: center;
    font-weight: 800;
}

#Servicos {
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}

#containersServicos {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nossosServicos{
    width: 200px;
    height: 250px;
    box-shadow: 0 0px 6px gray;
    border-radius: 12px;
    padding: 16px;
    flex-direction: column;
    position: relative;
    z-index: 2;
    background-color: white;
    margin-left: 27.5px;
}


.icons{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitulosServicos {
    height: 35%;
}

#linhaRosa{
    width: 64%;
    height: 50px;
    background-color: var(--cor-rosa);
    position: absolute;
    z-index: 1;
}

.hoverText {
    display: none; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    background-color: white; 
    color: var(--cor-preta);
    padding: 16px; 
    border-radius: 12px; 
    z-index: 10; 
    width: 100%;
    height: 100%; 
    text-align: center;
}

.nossosServicos:hover .hoverText {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center; 
}


